<div class="container my-5 pb-5">


    <div class="pb-5" > <!-- begin of container  text-center-->
       
        
       <div class="row" > <!--begin of row-->
              
       
            <!--begin of card-->
        <div class="card text-center border-primary mb-3 mx-3 col-3" *ngFor = "let project of Projects">   
            <div class="card-header h4">{{project.name}} <span class="badge badge-success">{{project.length}}</span> </div>
            <div class="card-body text-primary">
                <button type="submit" class="btn btn-primary mx-2" (click)="LoadTasks(project.name)">Load</button>
               <button class="btn btn-warning" (click)="deleteProject(project.id)"><i class="bi bi-trash mx-2"></i></button>
            </div>
          </div> <!--end of card-->

          <div class="card text-center border-success mb-3 mx-3 col-3">   
            <div class="card-header h4">Add project</div>
            <div class="card-body text-primary">
                <button type="submit" class="btn btn-success" (click)="addProject()"><i class="bi bi-plus-square mx-2"></i></button>
              
            </div>

          

       </div>   <!--end of row-->




    </div>   <!-- end of container-->



</div>
