
<nav class="navbar navbar-dark bg-info  justify-content-center ">
    
   <h2 class="text-light my-3">Kanban board</h2>

   <button routerLink="/" class="ml-3 text-light my-3 pt-3 btn"><h3>Home</h3></button>
  </nav>
  
<router-outlet></router-outlet>


<div class="footer boarder bg-dark text-white ">

<h1 class="my-5 text-center pt-5 "> version 0.0.1</h1>
<div class="container">

    <div class="row my-5 justify-content-around py-5">
  <div class="col-6 pl-5 ">all rights reserved</div>
  <div class="col-6 pl-5">contact @ yraviteja961@gmail.com</div>
    </div>
    <div class="row my-5 justify-content-around pb-5">
        <div class="col-6 pl-5 ">notes</div>
        <div class="col-6 pl-5">suggestions</div>
          </div>
</div>

</div>


